

.anime-details{
    min-height: 100vh;
    height: auto;
    color: rgb(249, 201, 58);
    font-family: 'Roboto', sans-serif;
    
}
.anime-details h1{
    font-size: 2rem;
    text-align: left;
    margin-bottom: 35px !important;
    padding-top: 10px;
  } 




  .anime-details .card{
    cursor: pointer;
    background: #1A1A1D;
    font-weight: 600;
    color: rgb(255, 79, 108);
    border: solid transparent;
    transition: 0.3s;
    margin-bottom: 10px;
  }
  .anime-details .card:hover{
    background: rgb(52, 44, 45);
    /* border: solid rgb(69, 43, 47); */
    box-shadow: 0 0 10px 10px rgb(69, 43, 47);
    z-index: 1;

  }
  .anime-details .card-text{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }
  .anime-details .card-text>span:nth-child(1){
    padding: 0 10px 0 0;
  }
  .anime-details .card-title{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    font-weight: 600 !important;
    white-space: nowrap;
    font-size: 1rem !important;
    margin-top: 10px !important;
    margin-bottom: 0px !important;
  }





.arrow {
    transform: rotate(90deg);
    cursor: pointer;
}
.next{
    display: block;
    width: 1.3rem;
    height: 1.3rem;
    border-bottom: 5px solid rgb(249, 201, 58);
    border-right: 5px solid rgb(249, 201, 58);
    transform: rotate(-135deg);
    animation: animateNext 2s infinite;
}
.nextFixed {
    display: block;
    width: 1.3rem;
    height: 1.3rem;
    border-bottom: 5px solid rgb(249, 201, 58);
    border-right: 5px solid rgb(249, 201, 58);
    transform: rotate(-135deg);
}
.prev {
    display: block;
    width: 1.3rem;
    height: 1.3rem;
    border-bottom: 5px solid rgb(249, 201, 58);
    border-right: 5px solid rgb(249, 201, 58);
    transform: rotate(45deg);
    animation: animatePrev 2s infinite;
}
.prevFixed {
    display: block;
    width: 1.3rem;
    height: 1.3rem;
    border-bottom: 5px solid rgb(249, 201, 58);
    border-right: 5px solid rgb(249, 201, 58);
    transform: rotate(45deg);
}
@keyframes animateNext {
  0% {
    opacity: 0;
    transform: rotate(-135deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(-135deg) translate(-9px, -9px);
  }
}
@keyframes animatePrev {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(-9px, -9px);
  }
}








.multi-button {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 170px;
}
.btn__text{
  border-radius: 10px !important;
  height: 30px !important;
  font-size: 16px;
  padding: auto;
  width: 50px;
  cursor: pointer;
  transition: 0.3s ease;
  background: #282c34;
  color: rgb(249, 201, 58);
  border: 2px solid transparent;
  font-weight: 600;
  margin-bottom: 20px !important;
}
.btn__text:hover {
  position: relative;
  background: rgb(249, 201, 58);
  color: #282c34;
  border: 2px solid rgb(255, 79, 108);
}


.videoType {
  background: rgb(249, 201, 58);
  color: #282c34;
  border: 2px solid rgb(255, 79, 108);
  border-radius: 10px !important;
  height: 28px !important;
  font-size: 16px;
  padding: auto;
  font-weight: 800;
  width: 45px;
  text-align: center;
  margin-top: 3px;
  margin-left: 3px;
}
.videoType:nth-child(2){
  margin-left: 50px;
}
