
.episode-container {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 1%;
    padding-bottom: 1%;

}

.video-container {
    position: relative;
    padding-bottom: 56.25%;

}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.toolbar {
    width: 100%;
    background-color:rgb(46, 46, 46);
    text-align: center;
}

.title-container {
    margin-top: 1%;
    padding: 2%;
    background-color:rgb(46, 46, 46);
    color: rgb(255, 255, 255);
}

#details {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color:rgb(46, 46, 46);
}

#poster {
  position: relative;
    max-width: 90%;
    max-height: 90%;
    padding-left: 4%;
}

#synopsis {
  margin-top: 1%;
  padding: 2%;
  color: rgb(255, 255, 255);
}

.metadata-container {
  color: rgb(255, 255, 255);
  padding: 10px;
}
.grid-container {
  display: grid;
  row-gap: 50px;
  column-gap: 50px;
  grid-template-columns: auto auto auto;
  padding-left: 3%;

  min-width: 0;
  min-height: 0;
  overflow:scroll;
}

.mbox {
  background-color:rgb(46, 46, 46);
}

.mkey {
  color: rgb(255, 79, 108);
  font-weight: bold;
}

.mval {
  color: rgb(249, 201, 58);
  font-weight: 1;
}

#canvas{
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(30px);
    opacity: 0.5;
}

 #thumbnail {
    position: absolute;
    max-width: 98%;
    max-height: 98%;
} 

#player{
    z-index: 2;
}

video {

    border-radius: 5px;
    position: relative;
    object-fit: contain;
}
  

button {
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}


.lds-ripple {
  display: block;
  left: 45%;
  top: 45%;
  position: absolute;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
