
.episode-container {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 1%;
  padding-bottom: 1%;
  
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;

}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.toolbar {
  width: 100%;
  background-color:#1a1a1d;
  text-align: center;
}

.title-container {
  padding: 2%;
  background-color:rgb(46, 46, 46);
  color: rgb(249, 201, 58);
}

#details {
  display: flex;
  background-color:rgb(46, 46, 46);
  margin-bottom: 10px;
  padding-bottom: 2%;
}

#poster {
  max-width: 70%;
  padding-left: 10%;
  padding-bottom: 5%;
}

#synopsis, #generalInfo {
  padding: 1%;
}

#synopsis h4 {
  color: rgb(249, 201, 58);
}
#synopsis p {
  color:rgb(255, 79, 108);
}
#generalInfo h4 {
  color: rgb(249, 201, 58);
}

.metadata-container {
  color: rgb(255, 255, 255);
}
.grid-container {
  display: grid;
  row-gap: 10%;
  column-gap: 5%;
  grid-template-columns: auto auto auto;
  padding-top: 1%;
  padding-bottom: 2%;
  padding-left: 3%;
  overflow: hidden;
}

.mbox {
  background-color:rgb(46, 46, 46);
}

.mkey {
  color: rgb(249, 201, 58);
  font-weight: bold;
}

.mval {
  color: rgb(255, 79, 108);
  font-weight: 500;
}

#canvas {
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(30px);
  opacity: 0.5;
}

 #thumbnail {
  position: absolute;
  max-width: 98%;
  max-height: 98%;
} 

#player {
  z-index: 2;
}

video {
  border-radius: 5px;
  position: relative;
  object-fit: contain;
}
  
button {
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.lds-ripple {
  display: block;
  left: 45%;
  top: 45%;
  position: absolute;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}



.episodesList {
  padding-top: 1%;
  margin-top: 1%;
}
.episodesList .card{
  cursor: pointer;
  background: #1A1A1D;
  font-weight: 600;
  color: rgb(255, 79, 108);
  border: solid transparent;
  transition: 0.3s;
}
.episodesList .card-title{
  padding-left: 5px;
  padding-top: 5px;
}

.season, .seasonOption, .seasonSelect,.language, .languageOption, .languageSelect {
  background-color: #1a1a1d !important;
  color: rgb(249, 201, 58) !important;
}


.season, .language {
  flex-grow: 1;
  max-width: 500px;
}

.episodes-container{
  padding-top: 1.5%;
  padding-bottom: 1%;
}


.playingNow {
  background: rgb(249, 201, 58);
  color: #282c34;
  border: 2px solid rgb(255, 79, 108);
  border-radius: 10px !important;
  height: 28px !important;
  font-size: 16px;
  padding: auto;
  font-weight: 800;
  width: 120px;
  text-align: center;
  margin-top: 5px;
  margin-left: 5px;
  
}