.recently-updated{
    min-height: 100vh;
    height: auto;
    color: white;
    font-family: 'Roboto', sans-serif;
    
}
  
  .recently-updated h1{
    font-size: 2rem;
    text-align: left;
    margin-bottom: 20px;
    padding-top: 10px;
  }
    
  .recently-updated-list .card{
    background: #1A1A1D;
    color: white;
    border: solid transparent;
    transition: 0.3s;
  }
  
  .recently-updated-list .card:hover{
    background: #2B2B2F;
    border: solid #2B2B2F;
    z-index: 1;

  }


  .card-text{
    display: flex;
    justify-content: space-between;
  }

  .card-title{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  white-space: nowrap;
  }


